In [15]:
import pandas as pd
import pandas as pd
import joblib



from sklearn.ensemble import GradientBoostingRegressor
import numpy as np
from sklearn.model_selection import train_test_split

In [16]:

df=pd.read_excel('TrainingDataset.xlsx')

,supermarketId,TimeOfDay,Distance,WeatherCondition,MeansOfTransport,Cost,Target
0,240,1587,44,3,1,3,99.8000
1,240,1415,47,1,0,3,99.7998
2,240,1807,22,2,2,4,99.7982
3,240,1783,29,3,2,4,99.7982
4,240,1681,78,0,4,3,99.7978
...,...,...,...,...,...,...,...
102040,240,1245,9920,3,0,250,0.9959
102041,240,1900,9974,1,0,250,0.9958
102042,240,986,9981,0,1,250,0.9952
102043,240,1556,9989,0,1,250,0.9951
102044,240,1104,9995,0,1,250,0.9950

In [17]:
X = df[['Distance', 'Cost', 'MeansOfTransport','WeatherCondition','TimeOfDay']].astype('float32')
y = df['Target'].astype('float32')
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [18]:
model=GradientBoostingRegressor(n_estimators=100, max_depth=10, random_state=0)

In [21]:
model.fit(X_train, y_train)
model.score(X_test, y_test)
y_test=model.predict(X_test)
y_test

array([83.49094736, 39.48986558,  8.58128715, ..., 88.62764627,
        3.02120441, 69.50965393])

In [20]:
# Save the model
joblib.dump(model, 'model.pkl')

['model.pkl']