In [2]:
import pandas as pd
import pandas as pd
import joblib



from sklearn.ensemble import GradientBoostingRegressor
import numpy as np
from sklearn.model_selection import train_test_split

In [3]:

df=pd.read_excel('TrainingDatasetV2.xlsx')
df.head()
df.describe()

,supermarketId,TimeOfDay,Distance,WeatherCondition,MeansOfTransport,Cost,Rating,Target
count,102045.000000,102045.000000,102045.000000,102045.000000,102045.000000,102045.000000,102045.000000,102045.000000
mean,237.204106,1430.036494,5022.224832,1.500965,2.000627,125.668499,4.300106,45.786926
std,20.928716,375.054612,2886.821013,1.117105,1.410119,71.550325,0.234563,30.533660
min,1.000000,800.000000,10.000000,0.000000,0.000000,1.000000,3.900000,0.000000
25%,240.000000,1114.000000,2518.000000,1.000000,1.000000,64.000000,4.100000,18.636600
50%,240.000000,1429.000000,5039.000000,2.000000,2.000000,125.000000,4.300000,45.415400
75%,240.000000,1747.000000,7520.000000,2.000000,3.000000,188.000000,4.500000,72.174800
max,240.000000,2059.000000,10000.000000,3.000000,4.000000,250.000000,4.700000,99.800000

In [ ]:
X = df[['Distance', 'Cost', 'MeansOfTransport','WeatherCondition','TimeOfDay','Rating']].astype('float32')
y = df['Target'].astype('float32')
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
model=GradientBoostingRegressor(n_estimators=100, max_depth=10, random_state=0)

In [ ]:
model.fit(X_train, y_train)
model.score(X_test, y_test)
y_test=model.predict(X_test)
y_test

array([83.49094736, 39.48986558,  8.58128715, ..., 88.62764627,
        3.02120441, 69.50965393])

In [ ]:
# Save the model
joblib.dump(model, 'model.pkl')

['model.pkl']